<po-page-default p-title="Buttons">

    <po-widget p-title="Button Basic">
        <po-button p-label="Default" p-type="default"></po-button>
        <po-button p-label="Primary" p-type="primary"></po-button>
        <po-button p-label="Danger" p-type="danger"></po-button>
        <po-button p-label="Link" p-type="link"></po-button>
    </po-widget>

    <po-widget p-title="Button Options">
        <po-button p-label="Disabled" p-type="default" p-disabled="true"></po-button>
        <po-button p-label="Small" p-type="default" p-small="true"></po-button>
        <po-button p-label="Loading" p-type="default" p-loading="true"></po-button>
    </po-widget>

    <po-widget p-title="Icon">
        <po-button p-label="Icon Example" p-type="primary" p-icon="po-icon-news"></po-button>
        <po-button p-label="Icon Example" p-type="danger" p-icon="po-icon-user"></po-button>
        <po-button p-label="Icon Example" p-type="link" p-icon="po-icon-telephone"></po-button>
        <po-button p-label="Icon Example" p-type="default" p-icon="po-icon-calendar"></po-button>
    </po-widget>    

</po-page-default>