<po-page-default p-title="Accordion">
    <po-widget class="po-md-6">
        <po-accordion>
            <po-accordion-item p-label="Accordion 1">
                Lorem ipsum dolor sit amet consectetur adipiscing elit, class consequat neque senectus lobortis
                vehicula
                ac eu, porttitor vel nec volutpat aliquam nostra. Facilisis pulvinar eleifend fermentum conubia
                dictum
                erat porta lectus, cubilia duis imperdiet arcu auctor luctus senectus, euismod sit platea feugiat
                placerat augue sollicitudin. Enim habitant turpis aliquet hac taciti laoreet nec aptent, himenaeos
                class
                nisl malesuada vulputate feugiat parturient lorem, quam sodales euismod curae pulvinar est ex.
                Taciti
                sollicitudin convallis rutrum class nibh curabitur urna, sem nascetur vel pulvinar erat cras
                venenatis
                euismod, odio mattis diam nostra in lacus. Magnis ornare potenti etiam faucibus montes ridiculus
                facilisis, bibendum enim laoreet gravida cursus convallis habitant, eget penatibus tempus integer
                dis
                himenaeos. Euismod quis vel facilisis risus luctus vestibulum varius venenatis netus quam,
                parturient
                hendrerit consequat etiam magnis mattis posuere magna blandit nisi, neque urna velit lectus natoque
                eros
                sem tempus volutpat. 1
            </po-accordion-item>

            <po-accordion-item p-label="Accordion 2">
                Lorem ipsum dolor sit amet consectetur adipiscing elit hac, egestas a lobortis habitant nisi
                tristique
                nisl mattis, dui vehicula vitae purus iaculis ex volutpat. Fames molestie tristique ipsum feugiat
                magna
                ullamcorper dapibus, eget risus ac vitae curae tortor mauris, nec tempus malesuada accumsan
                vestibulum
                velit. Fusce lobortis aliquam cursus quam montes sagittis nulla eleifend nec est viverra, at lacinia
                placerat dictumst enim sociosqu ut non blandit magna, natoque bibendum primis neque lectus pharetra
                diam
                et ipsum porta. Nisl mi potenti ultricies urna volutpat sagittis suspendisse nunc, augue inceptos
                diam
                massa est interdum nulla accumsan, phasellus maecenas maximus venenatis integer pretium malesuada.
                Mattis blandit vivamus varius rutrum nunc at metus lectus pretium vulputate, tristique a massa
                litora
                sapien in ultrices lacinia magnis, efficitur ac vehicula maecenas molestie sed neque egestas orci.
                Quisque eleifend dis condimentum aliquam ridiculus nibh volutpat, in sit litora nec proin porta
                pulvinar, semper rutrum augue fusce potenti feugiat. Cursus tempus praesent lacus tristique metus
                ante
                blandit erat sapien, ut vulputate bibendum vitae orci facilisis eget efficitur.
            </po-accordion-item>

            <po-accordion-item p-label="Accordion 3">
                Lorem ipsum dolor sit amet consectetur adipiscing elit dignissim eget, non quam porta lobortis
                facilisis
                iaculis fusce ex ullamcorper, maximus lacus elementum netus erat dapibus diam habitasse. Fringilla
                fermentum magnis neque laoreet porta erat habitant congue augue, nascetur interdum montes ut rhoncus
                ligula accumsan dignissim nisi, maecenas dolor libero adipiscing dui pretium enim curae. Amet
                vivamus
                blandit erat sapien tempus ante quam scelerisque tellus vestibulum ut, sollicitudin sed congue magna
                odio taciti eu conubia lorem. Iaculis eu proin consequat conubia orci parturient vestibulum ut,
                gravida
                ridiculus euismod ullamcorper cubilia sit tempus, aliquam finibus potenti eleifend curabitur
                ultrices
                aenean. Eu nam massa a senectus dictumst rhoncus laoreet sem neque pretium, luctus ex gravida primis
                maecenas litora et nisl. Odio sem dignissim ullamcorper fusce, vestibulum fringilla maximus cursus
                orci,
                inceptos magnis ante.
            </po-accordion-item>

        </po-accordion>

    </po-widget>

    <div class="po-row" class="po-md-6">
        <po-widget p-title="Toggle Accordion By Button">
            <po-button-group [p-buttons]="buttons" p-small="true" p-toggle="string">
            </po-button-group>
        </po-widget>

        <po-widget>
            <po-accordion>
                <po-accordion-item p-label="Info 1" #item1>
                    Lorem ipsum dolor sit amet consectetur adipiscing elit eget parturient, habitasse nisi metus natoque
                    venenatis tempor rhoncus porta, donec felis cursus dictum nulla elementum bibendum auctor. Finibus
                    augue
                    dis quisque euismod vitae lacus curae maecenas sed, lobortis senectus eget convallis nullam
                    ullamcorper
                    vivamus pellentesque pretium, venenatis massa libero facilisis semper facilisi potenti proin.
                    Vestibulum
                    convallis felis pellentesque sem hac eleifend elit ultricies aliquet, molestie magna mollis turpis
                    suscipit aptent urna dignissim, blandit massa sed elementum tempus venenatis mauris dolor. Dapibus
                    condimentum lorem fermentum dignissim cubilia curae in suscipit at tortor, urna congue ullamcorper
                    eros
                    mattis posuere adipiscing sem cursus felis senectus, curabitur finibus justo vitae venenatis magna
                    porta
                    quisque convallis. Luctus arcu egestas maximus faucibus imperdiet donec hac, neque nibh aptent
                    libero
                    montes.
                </po-accordion-item>

                <po-accordion-item p-label="Info 2" #item2>
                    Lorem ipsum dolor sit amet consectetur adipiscing elit blandit turpis neque iaculis accumsan
                    vestibulum,
                    integer ad scelerisque in velit lacus faucibus ultricies nec enim efficitur commodo. Iaculis libero
                    nec
                    vulputate arcu eget ligula, nisi proin habitant malesuada erat magna, efficitur venenatis dictum est
                    quisque. Curabitur massa bibendum quisque lectus ultricies cras urna nam nullam, nascetur consequat
                    montes fames integer sociosqu conubia vivamus non, metus mus adipiscing suspendisse finibus etiam
                    elit
                    varius.
                </po-accordion-item>

                <po-accordion-item p-label="Info 3" #item3>
                    Lorem ipsum dolor sit amet consectetur adipiscing elit curabitur urna, ante nibh ultrices proin
                    varius
                    aptent integer vel, vivamus habitant class sagittis vehicula id cubilia mus. Penatibus rhoncus sit
                    nostra mauris velit hac natoque ac suscipit interdum, nam magna phasellus montes ut rutrum non
                    congue
                    sem est nascetur, praesent mi tellus orci aptent fames ultricies lectus fringilla. Et lobortis ante
                    quisque habitasse luctus id egestas urna suspendisse dignissim at, mattis sollicitudin hendrerit
                    molestie consectetur himenaeos tincidunt class congue. Mi nullam taciti habitasse blandit volutpat
                    porta
                    rutrum, nibh semper aliquam euismod ornare dictumst nascetur, quisque laoreet mauris per magna lacus
                    vitae, consectetur placerat augue velit egestas condimentum.
                </po-accordion-item>

            </po-accordion>
        </po-widget>
    </div>

</po-page-default>